.navBurger {
    color: #fff;
    display: none;


    background-color: #00244C;
    position: relative;
    overflow: hidden;
    text-align: start;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    animation: 2s ease-out 0s 1 slideInFromTop;
}


.navBurger button {
    background-color: #00244C;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 25px;
}

.navBurger ul {
    list-style-type: none;
    padding: 0;
}

.navBurger li {
    padding: 10px 0;
}

.navBurger li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navBurger li a:hover {
    color: #007bff;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes blurAnimation {
    0% {
        width: 0%
    }

    50% {
        width: 50%
    }

    100% {
        width: 75%
    }
}


@media screen and (max-width: 480px) {
    .navBurger {
        display: block;
    }
}