.firstInfoContent {
    display: flex;
    flex-grow: 1;
    margin-right: 2%;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.imageContent {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    color: #fff;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.phone {
    color: #02BA26;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.phone:hover {
    color: #007bff;
}

.correo {
    color: #892cdc;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.correo:hover {
    color: #007bff;
}

.myImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.contactInfoContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.aboutInfo {
    margin: auto;
    color: #fff;
    text-align: center;
}

.skillsContent {
    background-color: #00244C;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

.iconContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

}

.imgIcon {
    height: 75px;
    width: 75px;
    position: relative;
}


.skillsTitle {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

.skillsTitle:hover {
    color: #007bff;
}

.skillsContent::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    background: linear-gradient(to left, #60baff 0%, #00244C 100%);
    filter: blur(50px);
    animation: blurAnimation 5s linear;
}


.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes blurAnimation {
    0% {
        width: 0%
    }

    50% {
        width: 50%
    }

    100% {
        width: 75%
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIcon1 {
    0% {
        transform: translateX(1500%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIcon2 {
    0% {
        transform: translateX(1200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIcon3 {
    0% {
        transform: translateX(900%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIcon4 {
    0% {
        transform: translateX(600%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIcon5 {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIcon6 {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

.aboutContentM {
    display: none;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

.aboutInfo button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    font-weight: bold;
}

.aboutInfo button:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .firstInfoContent {
        flex-direction: column;
    }

    .aboutContentM {
        display: block;
    }

    .aboutContent {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .firstInfoContent {
        flex-direction: column;
    }

    .aboutContentM {
        display: block;
    }

    .aboutContent {
        display: none;
    }

    .iconContent {
        display: none;
    }
}